@mixin absoluteBefore {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
@mixin flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    display: none;
}

body {
    background: #0c1c64;

    &::after {
        display: block;
        content: "ONLY FOR PC";

        @media (min-width: 1024px) {
            display: none;
        }
    }
}

.sceneWrapper {
    position: relative;
    @include flexed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @media (max-width: 1023px) {
        display: none;
    }

    .starfield {
        @include absoluteBefore;
        background: none;
    }
    .lines {
        @include absoluteBefore;
        background-image: linear-gradient(90deg, #00000080 25%, #2d5f81 25%, #2d5f81 50%, #00000080 50%, #00000080 75%, #2d5f81 75%, #2d5f81 100%);
        background-size: 350px 350px;
        width: 250%;
        &__bottom {
            transform: perspective(600px) rotateX(-90deg) translateZ(50vh);
            &::before {
                @include absoluteBefore;
                background-image: linear-gradient(to top, rgba(19, 39, 62, 0) 0%, #a7cfdf80 100%);
            }
        }
        &__top {
            transform: perspective(600px) rotateX(90deg) translateZ(50vh);
            &::before {
                @include absoluteBefore;
                background-image: linear-gradient(to bottom, #13263d00 0%, #a7cfdf80 100%);
            }
        }
        &__back {
            transform: perspective(600px) rotateX(0deg) translateZ(-50vh);
            @include flexed;
        }
    }

    .svg {
        @include absoluteBefore;
        &__star {
            fill: #79abc295;
            stroke: #79abc2;
        }
    }

    .clipper {
        position: absolute;
        width: 16vw;
        height: 16vw;
        border-radius: 50%;
        transform-style: preserve-3d;
        background: radial-gradient(ellipse at center, #f85032 0%, #f0e15d 38%, rgba(245, 235, 143, 0) 57%, rgba(255, 255, 255, 0) 100%);
        transform: rotateY(0deg) rotateX(0deg) perspective(600px);
    }
    .cardsCube {
        position: relative;
        width: 13vw;
        height: 13vw;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        transform-style: preserve-3d;
        transform: rotateY(0deg) rotateX(0deg) perspective(600px);
        &__card {
            @include absoluteBefore;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            &--far {
                transform: rotateX(0deg) rotateY(180deg) translateZ(6.5vw);
            }
            &--near {
                transform: rotateX(0deg) rotateY(0deg) translateZ(6.5vw);
            }
            &--right {
                transform: rotateX(0deg) rotateY(90deg) translateZ(6.5vw);
            }
            &--left {
                transform: rotateX(0deg) rotateY(-90deg) translateZ(6.5vw);
            }
            &--bottom {
                transform: rotateX(-90deg) rotateY(0deg) translateZ(6.5vw);
            }
            &--top {
                transform: rotateX(90deg) rotateY(0deg) translateZ(6.5vw);
            }
            &::before,
            &::after {
                @include absoluteBefore;
            }
            &::after {
                animation: rotateAnim1 13s linear infinite;
                background: #a3bbe55f;
                border-radius: 50%;
                border: 2px solid #bcc9ef7c;
            }
            &--near.active::after {
                display: none;
            }
            .layers {
                display: flex;
                transform-style: preserve-3d;
                width: 100%;
                height: 100%;
                &__layer {
                    @include absoluteBefore;
                    &--first {
                        align-self: center;
                        position: relative;
                        border-radius: 50%;
                        width: 11vw;
                        height: 11vw;
                        margin: 0 auto;
                        transition: transform 0.3s ease-out;
                        transform: translateZ(6.5vw);
                        overflow: hidden;
                        .button {
                            text-align: center;
                            line-height: 11vw;
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: conic-gradient(from 90deg at 50% 50%, #474daacc 0%, #171e51cc 51%, #474daacc 100%);
                            border-radius: 50%;
                            cursor: pointer;
                            font-size: 1em;
                            color: #59c931;
                            text-shadow: 1px 1px 4px black;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            &__active {
                                background: rgba(255, 0, 0, 0.133);
                                color: #d12828;
                                border: none;
                            }
                        }
                    }
                    &--second {
                        @include flexed;
                        border-radius: 50%;
                        transform: translateZ(3.25vw);
                        transform-style: preserve-3d;
                        &::before {
                            @include absoluteBefore;
                            border-radius: 50%;
                            transform: translateZ(0vw);
                            border: 2px solid #80a0ff;
                            animation: moveAnim 1s ease-in-out infinite alternate;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotateAnim1 {
    0% {
        transform: translateZ(10vw) rotateX(0deg) rotateY(-720deg) scale(0.5);
    }

    100% {
        transform: translateZ(10vw) rotateX(-360deg) rotateY(720deg) scale(0.5);
    }
}

@keyframes moveAnim {
    0% {
        transform: translateZ(0vw);
    }

    100% {
        transform: translateZ(3vw);
    }
}
