* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0c1c64;
}

body::after {
  display: block;
  content: "ONLY FOR PC";
}

@media (min-width: 1024px) {
  body::after {
    display: none;
  }
}

svg {
  display: none;
}

.sceneWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .sceneWrapper {
    display: none;
  }
}

.starfield {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: none;
}

.button {
  text-align: center;
  line-height: 11vw;
  display: block;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 90deg at 50% 50%, #474daacc 0%, #171e51cc 51%, #474daacc 100%);
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 1em;
  color: #59c931;
  text-shadow: 1px 1px 4px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button__active {
  background: rgba(255, 0, 0, 0.133);
  color: #d12828;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(90deg, #00000080 25%, #2d5f81 25%, #2d5f81 50%, #00000080 50%, #00000080 75%, #2d5f81 75%, #2d5f81 100%);
  background-size: 350.00px 350.00px;
  height: 100%;
  width: 250%;
}

.lines__bottom {
  transform: perspective(600px) rotateX(-90deg) translateZ(50vh);
}

.lines__bottom::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 39, 62, 0)), to(#a7cfdf80));
  background-image: linear-gradient(to top, rgba(19, 39, 62, 0) 0%, #a7cfdf80 100%);
}

.lines__top {
  transform: perspective(600px) rotateX(90deg) translateZ(50vh);
}

.lines__top::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#13263d00), to(#a7cfdf80));
  background-image: linear-gradient(to bottom, #13263d00 0%, #a7cfdf80 100%);
}

.lines__back {
  transform: perspective(600px) rotateX(0deg) translateZ(-50vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

}

.svg__star {
  fill: #a9ecec3d;
  stroke: #c9c6e5;

}

.cardsCube {
  position: relative;
  width: 13vw;
  height: 13vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 1vw;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg) perspective(600px);
  
}

.cardsCube__card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform-style: preserve-3d;
}

.cardsCube__card--far {
  transform: rotateX(0deg) rotateY(180deg) translateZ(6.5vw);
}

.cardsCube__card--near {
  transform: rotateX(0deg) rotateY(0deg) translateZ(6.5vw);
}

.cardsCube__card--right {
  transform: rotateX(0deg) rotateY(90deg) translateZ(6.5vw);
}

.cardsCube__card--left {
  -webkit-transform: rotateX(0deg) rotateY(-90deg) translateZ(6.5vw);
  transform: rotateX(0deg) rotateY(-90deg) translateZ(6.5vw);
}

.cardsCube__card--bottom {
  transform: rotateX(-90deg) rotateY(0deg) translateZ(6.5vw);
}

.cardsCube__card--top {
  transform: rotateX(90deg) rotateY(0deg) translateZ(6.5vw);
}

.cardsCube__card::before,
.cardsCube__card::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

}

.cardsCube__card::after {
  animation: rotateAnim1 13s linear infinite;
  background: #a3bbe55f;
  border-radius: 50%;
  border: 2px solid #bcc9ef7c;
}

.cardsCube__card--near.active::after {
  display: none;
}

.cardsCube::before,
.cardsCube::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 1vw;
  transform: rotate(0deg);
  background: radial-gradient(ellipse at center, #f85032 0%, #f0e15d 38%, rgba(245, 234, 143, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.cardsCube::before {
  transform: translateZ(0) rotateY(90deg);
}

.cardsCube::after {
  transform: translateZ(0) rotateX(90deg);
}

.layers {
  display: flex;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.layers__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.layers__layer--first {
  align-self: center;
  position: relative;
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
  margin: 0 auto;
  transition: transform .3s ease-out;
  transform: translateZ(6.5vw);
  overflow: hidden;
}

.layers__layer--first.btn {
  border: none;
  transform: translateZ(11vw);
}

.layers__layer--second {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateZ(3.25vw);
  transform-style: preserve-3d;
}


.layers__layer--second::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 50%;
  transform: translateZ(0vw);
  border: 2px solid #80a0ff;
  animation: moveAnim 1s ease-in-out infinite alternate;
}


@-webkit-keyframes rotateAnim1 {
  0% {
    transform: translateZ(10vw) rotateX(0deg) rotateY(-720deg) scale(0.5);
  }

  100% {
    transform: translateZ(10vw) rotateX(-360deg) rotateY(720deg) scale(0.5);
  }
}

@keyframes rotateAnim1 {
  0% {
    transform: translateZ(10vw) rotateX(0deg) rotateY(-720deg) scale(0.5);
  }

  100% {
    transform: translateZ(10vw) rotateX(-360deg) rotateY(720deg) scale(0.5);
  }
}

@-webkit-keyframes moveAnim {
  0% {
    transform: translateZ(0vw);
  }

  100% {
    transform: translateZ(3vw);
  }
}

@keyframes moveAnim {
  0% {
    transform: translateZ(0vw);
  }

  100% {
    transform: translateZ(3vw);
  }
}
